<h1>Search Results</h1>
<%= paginate @requests %>
<hr>
<% @requests.each do |request| %>
  <%= link_to request.name, request_path(request) %>
  <%= request.email %>
  <%= request.department %>
  <%= request.message %>
  Completed: <%= request.completed %>
  <hr>
<% end %>
