<h1>Search Results</h1>
<hr>
<div class="requests">
  <% @requests.each do |request| %>
    <h2><%= link_to request.name, request_path(request) %></h2>
    Email: <%= request.email %><br>
    Department: <%= request.department %><br>
    Message: <%= request.message.truncate(50) %><br>
    Completed: <%= request.completed %>
    <hr>
  <% end %>
</div>
<%= paginate @requests %>
