<h1>Request</h1>
<%= @request.name %>
<%= @request.email %>
<%= @request.department %>
<%= @request.message %>

<%= link_to "Edit", edit_request_path(@request) %>
<%= link_to "Delete", request_path(@request), method: "Delete", data: {confirm: "Are you sure?"} %>
